@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "daisyui" {
  themes: blog --default --prefersdark;
}
@plugin "daisyui/theme" {
  name: "blog";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(71% 0.202 349.761);
  --color-primary-content: oklch(28% 0.109 3.907);
  --color-secondary: oklch(67% 0.182 276.935);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: oklch(70% 0.183 293.541);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(37% 0.013 285.805);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/quicksand.ttf");
}

@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/mona.ttf");
}

@font-face {
  font-family: "Hubot Sans";
  src: url("/fonts/hubot.ttf");
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.mona {
  font-family: "Mona Sans", sans-serif;
}

.hubot {
  font-family: "Hubot Sans", sans-serif;
}

*,
html,
body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

q {
  @apply italic;
}
