---
import { Rabbit, Brain, BookCopy } from "@lucide/astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" class="p-5">
  <div class="pt-5 pl-5">
    <h1 class="h1 pb-4">Hiya! <Rabbit class="inline" /></h1>

    <p class="max-w-5xl px-4 text-pretty md:w-1/2 md:px-0">
      Hai - I'm Emily <i class="font-light">(she/they/any)</i> aka <q
        >NotAussie</q
      >! I'm a junior developer and transit photographer from Adelaide, the <q
        ><a
          href="https://www.australiantraveller.com/sa/adelaide/happiest-city-australia/"
          class="link">happiest place in Australia</a
        ></q
      >! I've been programming since I was 13 <i class="font-light"
        >(about {new Date().getFullYear() - 2023} years ago)</i
      > when I started building bots for Guilded, since then I've spread into developing
      websites and now even analytical software.
    </p>

    <p class="max-w-5xl px-4 font-light text-pretty italic md:w-1/2 md:px-0">
      Hint! This site has a blog feature! Check it out <a
        href="/blog"
        class="link">here</a
      > or via the newspaper icon on the navbar!
    </p>

    <h2 class="h2 pt-4 pb-4">My skills! <Brain class="inline" /></h2>
    <p class="max-w-5xl px-4 text-pretty md:w-1/2 md:px-0">
      I've got experience with web development frameworks such as Astro,
      Sveltekit, and FastAPI, as well as proficiency in Python, JavaScript <i
        class="font-light">(TypeScript)</i
      >. I'm also learning how to work with Go<i>lang</i> as well as Kotlin.
    </p>

    <h2 class="h2 pt-4 pb-4">What I'm up to! <BookCopy class="inline" /></h2>
    <p class="max-w-5xl px-4 text-pretty md:w-1/2 md:px-0">
      I'm currently working on a few personal projects, including <a
        href="https://github.com/notaussie/bustinel"
        class="link">Bustinel</a
      >, a micro-service for recording vehicle <q>transactions</q> through GTFS-RT
      feeds. I'm also working on <a
        href="https://github.com/notaussie/blog"
        class="link">my blog</a
      >, a Astro based blog and possibly photo gallery.
    </p>
  </div>
</Layout>
