<footer
  class="bg-base-100 footer sm:footer-horizontal footer-center text-base-content bg-none p-4"
>
  <aside>
    <p>
      Copyright © 2024-{new Date().getFullYear()} NotAussie, MIT License.
    </p>
  </aside>
</footer>
