---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title, class: className } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={Astro.site} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta property="og:url" content={Astro.url} slot="head" />
    <meta property="robots" content="index, follow" />
    <title>{title} - Auzzie.space</title>
    <link rel="me" href="https://mastodon.social/@notaussie" />
    <slot name="head" />
  </head>
  <body>
    <div class="from-base-200 to-base-300 min-h-screen bg-gradient-to-br">
      <Navbar />
      <main class={`${className || ""}`}>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
